.TableColor
		{
			border-width: 1px;
			border-spacing: 0;
			border-color: #184354;
			border-style: solid;
			overflow: hidden;
			margin-bottom: 5em;
		
		}
		.TableColor th
		{
			font-family: Segoe UI Semibold;
			font-size: 16px;
			
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			word-break: normal;
			border-color: #184354;
		
			color: #FFFFFF;
			background-color:#166984;
		}
		.TableColor td
		{
			font-family: Segoe UI;
			font-size: 14px;
			padding: 13px 5px;
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			word-break: break-all;
			border-color: #184354;
			color: #669;
		}
		.TableColor tr
		{
			font-family: Segoe UI;
			font-size: 14px;
			padding: 13px 5px;
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			word-break: normal;
			border-color: #184354;
			color: #669;
		}

	
		table.TableColor tr:hover td {
    background-color: #F5C8A8 !important;
    color: Black;
    border-bottom: 1px solid #ffb676 !important;
    border-top: 1px solid #ffb676 !important;
}
		
		.TableColor tr:nth-child(odd)
		{
			background: #94D2E8;
		}
		
		.TableColor tr:nth-child(even)
		{
			background: #DCF8F9;
		}
		
		
		
		ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 100%;
		
	}
	ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background: #EEEEEE;
		overflow: hidden;
		position: relative;
	}
	ul.tabs li:hover {
		background: #CCCCCC;
	}	
	ul.tabs li.active{
		background: #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}
	.tab_container {
		border: 1px solid #999999;
		border-top: none;
		clear: both;
		float: left; 
		width: 100%;
		background: #FFFFFF;
		    text-align: left;
	}
	.tab_content {
		padding: 20px;
		display: none;
	}