.ValidationLabel{
color:Red;
font-size:12px;
display:flex;
margin-left: 97px;
}

h1
{
  font-family: Helvetica;
  font-weight: 100;
}
body
{
  color: #333;
  text-align: center;
  font-family: Segoe UI;
  background-image: url("../../Content/Images/rays-background-2.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Label
{
  color: #FFFFFF;
  font-size: larger;
  font-weight: bolder;
  background-color: #066488;
  border-radius: 10px;
  text-align: center;
    position: relative;
    width: 86px;
    margin: auto;
 
    bottom: 15px;
    height: 34px;
  z-index: 1;
}

.Message
{
      background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;

  text-align: center;
    position: relative;
    width: 86px;
    margin: auto;
 border-radius: 5px;
    bottom: 15px;
    height: 34px;
  z-index: 1;
  padding-top: 7px;
}

.RedMessage
{
 
 background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;




  

}


.TextBox
{
  padding: 2%;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  border-color: #94D2E8;
}
